// Define variables for your color scheme

// For example:
$red: #FF385C;
$light-red: #fa6782;
$blue: #3b87fa;
$yellow: #f3c675;
$orange: #f49e53;
$green: #44eda1;
$gray: #534e4e;
$light-gray: #F3F3F3;
