%mission-title {
  font-size: 1.6rem;
  font-weight: bold;
}

%mission-subtitle {
  @extend .d-flex, .align-items-center, .gap-4, .mb-4;
  color: #888;
  font-size: 0.9rem;
}

// ── New mission page ──────────────────────────────────────────────────────

.new-mission {
  &--title    { @extend %mission-title; }
  &--subtitle { @extend %mission-subtitle; }

  &--add-client-link {
    a {
      font-size: 0.85rem;
      font-weight: bold;
      color: $red;
      text-decoration: none;

      &:hover { text-decoration: underline; }
    }

    i { padding-right: 5px; }
  }

  &--steps-title {
    display: block;
    text-transform: uppercase;
    font-size: 0.85rem;
  }

  &--steps-subtitle {
    display: block;
    font-size: 0.85rem;
  }
}

// ── mission#show page ─────────────────────────────────────────────────────

.mission-show {
  @extend .p-1;
  &--title    { @extend %mission-title; }
  &--subtitle { @extend %mission-subtitle; }
}

// ── mission#show decisions archived ──────────────────────────────────────────────────────

.decided-card {
  &__header {
    @extend .d-flex, .justify-content-between, .align-items-start, .mb-3;
  }

  &__title {
    @extend .mb-1;
  }

  &__subtitle {
    @extend .text-secondary, .mb-0;
    font-size: .85rem;
  }
}

.decided-list {
  @extend .border, .rounded-4;
}

.decided-item {
  @extend .d-flex, .align-items-center, .gap-3, .p-3, .border-bottom;
  padding: 0.5rem 0;
  font-size: 0.85rem;

  &:last-child { border-bottom: none !important; }

  &__date {
    @extend .text-secondary;
    font-weight: 600;
    font-size: .9rem;
  }

  &__content { flex: 1; }

  &__title {
    @extend .mb-0;
    font-size: .9rem;
    font-weight: 600;
  }

  &__description {
    @extend .mb-0;
    @extend .text-secondary;
    font-size: .85rem;
  }
}
