<% if breadcrumbs.size > 1 %>
  <nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb">
      <% breadcrumbs.each_with_index do |crumb, i| %>
        <% last = i == breadcrumbs.size - 1 %>
        <li class="breadcrumb-item <%= "active" if last %>" <%= "aria-current=page".html_safe if last %>>
          <% if !last && crumb[:path] %>
            <%= link_to crumb[:name], crumb[:path] %>
          <% else %>
            <%= crumb[:name] %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </nav>
<% end %>
