<span class="decision-log-linked-pill"
      data-action="click->step-link#unlink"
      data-blocker-id="<%= blocker.id %>">
  <i class="fa-solid fa-link" style="font-size:9px"></i>
  <%= blocker.step.title&.truncate(22) %>
  <i class="fa-solid fa-xmark" style="font-size:9px"></i>
</span>
