.breadcrumb {
  @extend .mb-3, .p-4, .bg-white, .border-bottom;
  margin-top: -2rem;
  margin-left: -2.5rem;
  margin-right: -2.5rem;

  .breadcrumb-item {
    a {
      @extend .text-secondary;
      font-size: 0.85rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.active span{
      font-size: 0.85rem;
    }
  }
}
