<div class="container-fluid new-mission p-4">
  <h1 class="new-mission--title">Créer une nouvelle mission</h1>
  <p class="text-muted mb-4 new-mission--intro">Renseignez les détails du projet pour commencer votre accompagnement.</p>

  <div>
    <%= render "form", mission: @mission %>
  </div>
</div>
