<div class="container-fluid p-1">
  <h1 class="step-templates--title">Modifier le template</h1>
  <p class="step-templates--subtitle mb-4">Mettez à jour le modèle <strong><%= @step_template.name %></strong>.</p>

  <%= render "form", step_template: @step_template %>
</div>
