<div class="container-fluid p-1">
  <h1 class="step-templates--title">Nouveau template</h1>
  <p class="step-templates--subtitle mb-4">Créez un modèle d'étapes réutilisable pour vos missions.</p>

  <%= render "form", step_template: @step_template %>
</div>
