<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Vesta" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.29.0/dist/tabler-icons.min.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
